.act{
    /* activité */
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 100px;
    padding-bottom: 20px;
}


h1:hover{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
  cursor: pointer;
  letter-spacing: 10px;
  font-size: "Sen";
}

.parallax_position {
  position: relative;
}


.rect1 {

    width: 1265px;
    height: 839px;
  
    /*top: 3889px;*/
  
    background: conic-gradient(from 180deg at 50% 50%, #FF0000 0deg, #2400FF 360deg);
    border-radius: 110px;
}

.rect2 {
    position: relative;
    width: 1210px;
    height: 759px;
    left: 40px;
    top: 40px;
  
    background: #000000;
    border-radius: 110px;
}

.myth2img {
  position: relative;
  top: -500px;
}

.side{
    /* Reduce image maximum size */
    max-width: 80%;
    height: auto;

    /* Adjust image positioning */
    /* Make the image appear on the right */
    float: right;
}

.titleimg{
    /* Add bottom pading */
    padding-bottom: 50px;
    padding-top: 50px;
}

.myth2img{
  /* Add bottom pading */
  height: 50px;
  width: auto;

}

.bodytext{
    /* Add top pading */
    padding-top: 20px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;

    color: #000000;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    position: relative;
    width: 300;
    left: 25%;
    background: linear-gradient(270deg, #27FFFF 0%, #1400FF 100.66%);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 18px;
    border: 2px solid rgb(98, 97, 97);
    text-align: center;
    outline: none;
    width: 60%;
    border-radius: 300px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background: blue
  }
  
/* Style the button that is used to open and close the collapsible content */
.collapsible2 {
    position: relative;
    width: 300;
    left: 25%;
    background: linear-gradient(270deg, #FF00F5 0%, #FF2727 100.66%);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 18px;
    border: 2px solid rgb(98, 97, 97);
    text-align: center;
    outline: none;
    width: 60%;
    border-radius: 300px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible2:hover {
    background: red;
  }

  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }



  /* For the Hours buttons */
  .btn-group button {
    background-color: #5729d8; /* Green background */
    border: 1px solid rgb(15, 8, 70); /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width: 20%;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #000000;
    color: rgb(255, 255, 255); /* White text */
  }

.buttontextexplanation {
  color:rgb(255, 255, 255);
  text-align: center;
  
}
  

.h2_lesshigh {
  margin-top: 0.6em;
   margin-bottom: 0.6em
} 

.h3_lesshigh {
  margin-top: 3em;
   margin-bottom: 0.6em
} 

.salmoncolor {
  color: rgb(255, 164, 53)
}


/* Style the button that is used to open and close the collapsible content */
.collapsible3 {
  position: relative;
  left: 0%;
  background-color: rgb(232, 88, 88);
  color: rgb(255, 255, 255);
  cursor: pointer;
 
  border: none;
  text-align: left;
  outline: none;
  width: 20%;

  margin-left: 5%;
  margin-right: 5%;
  height: 150%;
  border-radius: 10px;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible3:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

/* Hyperlink effect */
a {
  position: relative;
  color: rgb(64, 143, 37);
  text-decoration: none;
}

a:hover {
  color: rgb(29, 120, 50);
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(29, 120, 50);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}



