.pres{
    /*Set a top margin of 40px */
    margin-top: 40px;
    width: 494px;
    height: 72px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.imglogo{
    /*Center image*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.title{
    /*Put text on he left */
    text-align: left;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
    
    color: #000000;

    /*Set bottom pading*/
    padding-bottom: 10px;
}

.text{

    /* set a botom padding of 40px */
    padding-bottom: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
    
    color: #000000;
}

.subtitle{
    /*Set padding top */
    padding-top: 30px;

    /*Set a botom padding of 40px */
    padding-bottom: 50px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #000000;

}

/*Add hover effect on the images imglogo*/
.imglogo:hover{
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
