.main {
    max-width: 100%;
    height: auto;
    width: auto; /* ie8 */
}

.hero {
    margin-bottom: 5rem;
}

.topleft {
    position: absolute;
width: 69px;
height: 84px;
left: 395.99px;
top: 258.95px;
}