.logo{
    /*set image maximum size*/
    max-width: 795.16px;
    max-height: 365px;
}

.chbutton{
    /*send image to the right*/
    float: right;
    /*set image maximum size*/
    max-width: 245px;
    max-height: 71px;
}