.titlepres{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;

    color: #000000;
}

.textpres{
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;

    color: #000000;
}

.insta{
    /*send image to right*/
    float: right;
}
